Thanks for visiting from {{geo}} at {{ip}}

Hope you hire me. ^_^

<hr/>

<h2>310.936.9993 standyro@gmail.com</h2>
<h3>1947 S. Sherbourne Dr. #6, Los Angeles, CA 90034</h3>
<h4>Technologist, Engineer, Software Developer, Media, Project Manager, Designer</h4>
<h4>@standyro standyro.com github.com/standyro</h4>

<h2>Past Job Experience:</h2>

<p><b>PK4 MEDIA</b> Developer / Software Engineer pk4media.com (Oct 2012 - Present) Lead maintainer of series of Ruby on Rails projects including an API, manager component and reporting layer for a cross platform ad server. Experience caching layers with Redis and Memcached. Deployment to AWS EC2, Opsworks, Heroku, writing Chef scripts. Part of project to build backend and front end for reporting visual data of 1+ billion dataset and map
reduces using MongoDB and Couchbase, reporting Ruby API and open source Crossfilter for in-browser filtering through (Square's multi-dimensional JS library) Highcharts, and Google Charts API. Led development of ActiveRecord models and project from ground up to 500,000 lines, internal gems for uploading multiple files to Amazon S3. Maintained node.js high capacity server for delivery of ads, VAST/VPAID XML responses, and led development of initial iterations of front-end code in Python from Pyramid/Pylons, eventually settling on Ruby in Sinatra and Rails. Experience with realtime bidding, ad-servers, external data and built tools to parse CSV/PDF data from ad campaign reports in Atlas, Google (DFP), LiveRail, and RFPs, IOs. Worked with LiveRail. Prototyping. Setup gitflow, project management using HipChat. Organizer for company events, meet-ups, and hackathons.
</p>

<p>
<b>LEAPING BRAIN LABS</b> Project Manager / UI Designer leapingbrain.com (Mar 2012 - Jul 2011) Project manager assisting in with iOS/LiveCode developers for company developed video platform, front end JS/jQuery/CSS design for backend Dashboard, tracking changes in Git, coordinating with clients, video encoding and workflow, editing tutorial videos, marketing portals, coordinating artwork with clients, graphic design of ads, system administration.
WPP / JWT / TEAM MAZDA Technical Specialist jwt.com (Nov 2011 -Dec 2011) Technical Specialist deploying systems (OS X / Windows) for 100+ employees for new advertising agency developed exclusively for Mazda, help-desk support, setup and move of employees. Deploying primarily Mac systems using JAMF Casper Suite.Troubleshooting via SSH, Apple Remote Desktop. Maintained user issues related to Active Directory and single sign on for Microsoft Office with Microsoft BPOS. Fixed issues and driver related problems with Xerox, Adobe CS5 suite.
</p>

<p>
<b>DYRODESIGN</b> Contract Web Developer dyrodesign.com (Feb 2011 -Present) Custom designed websites for businesses, artist, and photographers, built complete backend systems for clients to maintain documents and send SMS notifications, user interface consulting, CMS setup (Wordpress, Drupal, Flask) programming (Python, PHP, and Javascript) inventory
management (Shopify)
</p>

<p>
<b>POWER SUPPORT USA</b> Clerk / Graphic Designer powersupportusa.com (Apr 2011 - June 2011) Part time graphic designer and store clerk for retail office specializing in Apple and tech accessories. Maintained inventory, maintained relationships with customers, designed promotional graphics for the web and for print.
</p>

<p>
<b>VANGUARD ANIMATION</b> Production Coordinator vanguardanimation.com (Nov 2008 - Mar 2011) Production Coordinator and assistant for CG animation production company. Designed preliminary graphics and research for development projects, and pitches with studios (Fox, Paramount, WB, DreamWorks) Maintained office and setup and equipment. Ran errands and coordinated office moves and backups of 5TB worth of mission critical data. Designed pre- production art, logos, and production websites for feature films. Started as assistant to graphic designer and co-producer.
</p>

<p>
<b>PRIMARY COLOR</b> Assistant IT Manager primarycolor.com (May 2008 -Nov. 2008) Assistant to IT Manager at a large commercial print shop and prepress design studio. Experience with system wide imaging and deployment of OS X machines, Mac OS X Server, Remote Desktop. Maintenance of servers meltdowns, facilitated system for backup data (Symantec BESR, Norton Ghost) Experience with backup solutions, restore/system recovery, server maintenance/planning. Maintained records of machines. Experience with ShoreTel VOIP phone systems and DSL line installation. Design experience with Illustrator and Photoshop. Created and updated blueprints of systemwide network maps.
APPLE Specialist apple.com/retail/thegrove (Nov 2007 - Jan 2008) Specialist on the main floor of the Apple retail store at the Grove. Greeter and troubleshooter of technical problems. Made POS transactions and returns for computer equipment, iPods, and accessories from handheld sales units. Facilitated paperwork for data migration, and RAM upgrades. Taught personal one-to-one classes with Logic Studio, and Final Cut. Garnered experience in a wide variety of situations in a high stress retail environments during the ‘07 holiday season.
</p>

<h2>Techincal Skills:</h2>

<ul>
<li>Mac OS X / Windows / Linux/Unix</li>
<li>Programming (Python, Flask, Django, Ruby, Rails, Sinatra, Java, Javascript, C/C++) Database design (MySQL, Postgres, NoSQL, MongoDB, Couchbase)</li>
<li>Design work using Adobe CS5 (Photoshop, Illustrator, InDesign)</li>
<li>Frontend Web Design (CSS/SASS/LESS/AJAX)</li>
<li>Microsoft Office (Word, Excel, PowerPoint)</li>
<li>Sales experience</li>
<li>Quickbooks/Filemaker Pro</li>
<li>Proficient typist (80 wpm)</li>
<li>Articulate and professional technical writer</li>
<li>Troubleshooter and independent thinker</li>
<li>Reliable & insured driver</li>
<li>Extensive web research, SEO, voracious reader</li>
<li>Music/media: Final Cut / Pro Tools / Logic Studio</li>
<li>Musician (Guitar, Bass, Drums, Piano)</li>
<li>Photography/Videography</li>
</ul>

<h2>Work References:</h2>

<p>Grisha Khatchaturyan
Lead Developer (Daqri - Augmented Reality) hersheleh@gmail.com
310-736-5161
</p>

<p>David Negstad
Director of Development (PK4 Media / Microsoft) dnegstad@gmail.com / davidn@pk4media.com 626-757-1244
</p>

<p>Jimi Smoot
CEO / Entrepreneur (Prosperio / Myspace) jimi@prosperio.com
310-893-0119
</p>

<p>Chad Scira
Lead Developer (Sony / Media Arts Lab TBWA/ChiatDay) chadvscira@gmail.com
310-869-2018
</p>